@model TabloidMVC.Models.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.Comment.Subject?</h3>
<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.PostId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.PostId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.UserProfileId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.UserProfileId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.CreateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.CreateDateTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type ="hidden" asp-for="Comment.PostId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
